@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap'); /* for making the font beutiful */ 

html , body{
    /* it is important to add (body) to change the font */
    font-family: 'Tajawal', sans-serif;

}
h1{
    font-weight: bold;
}

#staff_menu{ 
    font-size: 30px; 
    font-weight: bold;
}

/* start subject > show.php  */
.subject-show .subject-attributes{
    margin: 20px 0; 
}
.subject-show .subject-attributes li span{
    margin-left: 10px;
    font-weight: bold;
}
.subject-show .subject-attributes li span::after{
    content: ': ';
}

/* end subject > show.php  */
