@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap'); /* for making the font beutiful */ 

html , body{
    /* it is important to add (body) to change the font */
    font-family: 'Tajawal', sans-serif;

}
h1{
    font-weight: bold;
}

#staff_menu{ 
    font-size: 30px; 
    font-weight: bold;
}

/* start subject > show.php  */
.subject-show .subject-attributes{
    margin: 20px 0; 
}
.subject-show .subject-attributes li span{
    margin-left: 10px;
    font-weight: bold;
}
.subject-show .subject-attributes li span::after{
    content: ': ';
}

/* end subject > show.php  */


/* start page > show.php  */
.page-show .page-attributes{
    margin: 20px 0; 
}
.page-show .page-attributes li span{
    margin-left: 10px;
    font-weight: bold;
}
.page-show .page-attributes li span::after{
    content: ': ';
}

/* end page > show.php  */


/* start pages > new.php */
.new-page textarea{
    resize: none;
}
/* end pages > new.php */




/* ERRORS */
.errors{
    background-color: antiquewhite;
    color: red;
    border: 1px solid #acabad;
    margin: 10px 0;
    padding: 10px 3px 5px 2px;
}

/* Session Messages */

#message {
    color: #0055DD;
    background: white;
    border: 2px solid #0055DD;
    padding: 1em 15px;
    margin: 1em 30px;
    width: 890px;
  }

  /* Start Admin */
.new-admin{
    margin-bottom: 50px;
}



  /* End Admin */
